<% if @current_user.role?(:employee) %>
<div class="card">
    <div class="card-content">
        <span class="card-title">Payroll for Past Week</span>
        <table>
            <thead>
                <th>Hours Worked</th>
                <th>Pay Earned</th>
            </thead>
            <tr>
                <td><%=@payroll.hours%></td>
                <td><%=@payroll.pay_earned%></td>
            </tr>
        </table>
    </div>
    <div class="card-action">
        <a>><%= link_to "More Details", generate_payroll_url %></a>
    </div>
</div>
<br />
<% end %>
<% if current_user.role?(:employee)%>
<div class="card">
    <div class="card-content">
        <% if @pending_shifts_today.empty? %>
        <h5>No Shifts to Clock In</h5>
        <% else %>
        <h5>Shifts To Clock In</h5>

        <table class="striped highlight">
            <thead>
                <th>Start Time</th>
                <th>End Time</th>
                <th class="align_center">Clock In</th>
            </thead>
            <% @pending_shifts_today.each do |shift| %>
            <tr %>
                <td><%= shift.start_time.strftime("%l:%M %p") %></td>
                <td><%= shift.end_time.nil? ? "N/A" : shift.end_time.strftime("%l:%M %p") %></td>
                <td class="align_center">
                    <%= link_to(clock_in_path(shift), method: :patch) do %>
                    <i class="material-icons">timer</i>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </table>
        <% end %>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <% if @started_shifts_today.empty? %>
        <h5>No Shifts to Clock Out</h5>
        <% else %>
        <h5>Shifts To Clock Out</h5>

        <table class="striped highlight">
            <thead>
                <th>Start Time</th>
                <th>End Time</th>
                <th class="align_center">Clock Out</th>
            </thead>
            <% @started_shifts_today.each do |shift| %>
            <tr %>
                <td><%= shift.start_time.strftime("%l:%M %p") %></td>
                <td><%= shift.end_time.nil? ? "N/A" : shift.end_time.strftime("%l:%M %p") %></td>
                <td class="align_center">
                    <%= link_to(clock_out_path(shift), method: :patch) do %>
                    <i class="material-icons">timer_off</i>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </table>
        <% end %>
        <br />
    </div>
</div>
<%end%>
<% unless @previous_assignments.nil? or @previous_assignments.empty?%>
<div class="card">
    <div class="card-content">
        <h5>Previous Assignments</h5>

        <table class="striped highlight">
            <thead>
                <th>Store</th>
                <th>Dates</th>
            </thead>
            <% @previous_assignments.each do |assignment| %>
            <tr %>
                <td><%= if can?(:view, assignment.store) then link_to assignment.store.name, store_path(assignment.store) else assignment.store.name end%></td>
                <td><%= assignment.start_date.strftime("%-m/%-d/%y") %> - <%= assignment.end_date.strftime("%-m/%-d/%y") %></td>
            </tr>
            <% end %>
        </table>
        <p class="supertiny"></p>
        <br />
    </div>
    <% if can? :create, Assignment %>
    <div class="card-action">
        <%= link_to "New Assignment", new_assignment_path(employee_id: @employee.id) %>
    </div>
    <% end %>
</div>
<% else %>
<% if can? :create, Assignment %>
<div class="card grey lighten-3">
    <div class="card-action">
        <%= link_to "New Assignment", new_assignment_path(employee_id: @employee.id) %>
    </div>
</div>
<% end %>
<% end %>