<% unless @payroll.nil? %>
<div class="card">
    <div class="card-content">
        <h5><%= @payroll.employee.proper_name %>'s past week pay roll information</h5>

        <table class="striped highlight">
            <thead>
                <th>Pay Grade</th>
                <th>Pay Rate</th>
                <th>Hours Worked</th>
                <th>Total Pay</th>
            </thead>
            <tr>
                <td><%= @payroll.pay_grade %></td>
                <td><%= @payroll.pay_rate %></td>
                <td><%= @payroll.hours %></td>
                <td><%= @payroll.pay_earned %></td>
            </tr>
        </table>
        <p class="supertiny"></p>
        <br />
    </div>
</div>
<% else %>
    <h4>No Pay Roll recorded for the past week</h4>
<% end %>
