<div class="card">
  <div class="card-content">
    <h5><%= state.capitalize %> Shifts</h5>

    <% if shifts.empty? %>
      <p>There are no <%= state.downcase %> shifts at this time.</p>
    <% else %>

      <table class="striped highlight">
        <thead>
          <th>Employee</th>
          <th>Date</th>
          <th>Starting</th>
          <% if can? :edit, Shift %>
            <th class="align_center">Options</th>
          <% end %>
        </thead>
        <% shifts.each do |shift| %>
          <tr %>
            <td><%= link_to shift.employee.name, employee_path(shift.employee) %></td>
            <td><%= shift.date.strftime("%-m/%-d") %></td>
            <td><%= shift.start_time.strftime("%l:%M %P") %></td>
            <% if (can? :edit, shift) %>
              <td class="align_center">
                <%= link_to edit_shift_path(shift) do %>
                  <i class="material-icons">edit</i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
      <%= will_paginate shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
    <% end %>
  </div>
</div>