<nav id="nav">
  <div class="container">
    <ul class="left hide-on-med-and-down">
      <% if (can? :index, Store) %>
        <li><%= link_to 'Stores', stores_path %></li>
      <% end %>
       <% if (can? :index, Employee) %>
        <li><%= link_to 'Employees', employees_path %></li>
      <% end %>
      <% if (can? :index, Assignment) %>
        <li><%= link_to 'Assignments', assignments_path %></li>
      <% end %>
    </ul>
    <ul class="right">
      <li><%= link_to 'Logout', logout_path %></li>
      <li><%= link_to 'My Account', employee_path(current_user) %></li>
    </ul>
  </div>
</nav>